
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <a class="navbar-brand" href='#'><br></a>


 <a class="btn btn-warning" href="{% url 'bankapp:login' %}"> Login </a><br>
 <a class="btn btn-warning" href="{% url 'bankapp:register' %}"> Register</a><br>
  <a class="btn btn-danger" href="{% url 'bankapp:logout' %}">Logout</a><br>
<br>




      <a class="dropdown-menu" aria-labelledby="navbardropdown"></a>
    <li>  <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kochi">KOCHI</a></li>
    <li>  <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Aluva">ALUVA</a></li>
      <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Angamaly"> ANGAMALY</a></li>
      <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kakkanad">KAKKANAD</a></li>
     <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Vyttila">VYTTILA</a>
    </li>
        </div>


</a>
    </nav>

    <div class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
    height: 100vh;
  ">

<br>
         <br>
         <br>

    <h4 class="text-white">  Indian Bank
        <br>
    </h4>
         <a class="" href="{% url 'bankapp:link' %}"><h3>Click here...<br>
             <br>
             To accept the application

         </h3></a>

<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <a class="navbar-brand" href='#'><br></a>

      Indian Bank

 <a class="btn btn-warning" href="{% url 'bankapp:login' %}"> Login </a><br>
 <a class="btn btn-warning" href="{% url 'bankapp:register' %}"> Register</a><br>
  <a class="btn btn-danger" href="{% url 'bankapp:logout' %}">Logout</a><br>
<br>

<div class="dropdown-btn"></div>
      <div clas="dropdown-menu" aria-labelledby="navbardropdown">Branches</div>
      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kochi">KOCHI</a>
      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Aluva">ALUVA</a>
       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Angamaly"> ANGAMALY</a>
      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kakkanad">KAKKANAD</a>
      <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Vyttila">VYTTILA</a>

</nav>
    </div>



     <div class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
    height: 100vh;
  ">


<br>
         <br>
         <br>

    <h4 class="text-white">  Indian Bank
        <br>
    </h4>
         <a class="" href="{% url 'bankapp:link' %}"><h3>Click here...<br>
             <br>
             To accept the application

         </h3></a>
</div>
<!-- Background image -->
</head>
<body>











{% block body %}
{%  endblock %}
</body>
</html>